extends layout

block content
	if leaderboard.length
		table.leaderboard
			tr
				th Player Name
				th XP ▾
				th Level
			each item in leaderboard
				tr
					td 
						a(href='/user/#{item.handle}') 
							img.avatar(src='http://avatars.io/twitter/#{item.handle}')
							span #{item.handle}
					td #{item.xp}
					td #{item.level}
	else
		p.error No players